
*.exr

src/Users/strizna3/Library/Developer/Xcode/DerivedData/pbrt-gcicclnrqvdkehatwvlnbouctqez/Build/Products/Release/pbrt

src/Users/strizna3/Library/Developer/Xcode/DerivedData/pbrt-gcicclnrqvdkehatwvlnbouctqez/Build/Products/Release/pbrt.dSYM/Contents/Resources/DWARF/pbrt

src/Users/strizna3/Library/Developer/Xcode/DerivedData/pbrt-gcicclnrqvdkehatwvlnbouctqez/Build/Products/Release/pbrt.dSYM/Contents/Resources/DWARF/pbrt
